<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modal</title>
</head>
<body>

<div th:fragment="confirm" class="ui basic modal confirm">
    <i class="close icon"></i>
    <div class="header">
        Are you sure?
    </div>
    <div class="description">
        <p>Are you sure you would like to remove this?</p>
    </div>pa
    <div class="actions">
        <div class="ui red basic inverted button">
            <i class="remove icon"></i>
            No
        </div>
        <div class="ui green ok inverted button" id="confirmRemove">
            <i class="checkmark icon"></i>
            Yes
        </div>
    </div>
</div>
</body>
</html>