<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modal</title>
</head>
<body>

<div th:fragment="confirm" class="ui basic modal confirm">
    <i class="close icon"></i>
    <div class="header">
        Are you sure?
    </div>
    <div class="description">
        <p>Are you sure you would like to remove this?</p>
    </div>
    <div class="actions">
        <div class="ui red basic inverted button">
            <i class="remove icon"></i>
            No
        </div>
        <div class="ui green ok inverted button" id="confirmRemove">
            <i class="checkmark icon"></i>
            Yes
        </div>
    </div>
</div>



<div th:fragment="fork" class="ui small modal fork">
    <div class="header">
        Are you sure you would like to fork a new version of this cabinet?
    </div>
    <div th:replace="fragments/form :: confirm-new-version"></div>
</div>

<div th:fragment="compare" class="ui small modal compare">
    <div class="header">
        Compare chemicals from different versions of this cabinet
    </div>
    <div th:replace="fragments/form :: compare-versions"></div>
</div>

<div th:fragment="compareResult" class="ui small modal compareResult">
    <div class="header" id="compare-header">
        Cabinet Comparison
    </div>
    <div class="content">
        <h3>Added</h3>
        <ul id="compare-added"></ul>
        <h3>Removed</h3>
        <ul id="compare-removed"></ul>
        <h3>Contained in Both</h3>
        <ul id="compare-matching"></ul>
    </div>
</div>

</body>
</html>