/*******************************
            Homepage
*******************************/

#chemicalTracker.index .pusher > .page {
    background-color: #FFFFFF;
}

@media only screen and (max-width: 992px) {
    html {
        overflow-x: visible;
        -webkit-overflow-scrolling: auto;
    }
}

.storage-message {

    font-weight: normal;
    color: darkgrey;
}

/*--------------
    Following
---------------*/

#chemicalTracker.index .following.bar {
    position: fixed;
    top: 0;
    z-index: 900;
    left: 0;
    padding: 1em 0;
    width: 100%;
    box-shadow: 0 0 0 0 transparent;
    border-bottom: 1px solid transparent;
    transition:
            padding 0.5s ease,
            background 0.5s ease,
            box-shadow 0.5s ease,
            border 0.5s ease;
}

#chemicalTracker.index .following.bar > .menu .item {
    transition: all 0.5s ease;
}
#chemicalTracker.index.pushed .following.bar .menu .item,
#chemicalTracker.index.pushed .following.bar {
    transition: none;
}
#chemicalTracker.index .following.bar .additional.item[data-site="learn"]:hover {
    color: #D9499A;
}
#chemicalTracker.index .following.bar span.additional.item {
    cursor: default;
    color: rgba(0, 0, 0, 0.2);
}
#chemicalTracker.index .following.bar .inverted span.additional.item {
    color: rgba(255, 255, 255, 0.2);
}
#chemicalTracker.index .following.bar .column > .menu {
    margin-top: 0;
    height: 35px;
}
#chemicalTracker.index .following.bar .network.menu .item {
    font-weight: bold;
}
#chemicalTracker.index .following.bar .item iframe {
    margin-left: 10px;
}
#chemicalTracker.index .following.bar .network.menu .view-ui {
    margin-right: 1em;
}
#chemicalTracker.index .light.following.bar .network.menu .view-ui {
    color: #00B5AD;
}
#chemicalTracker.index .light.following.bar .inverted.network.menu .view-ui {
    color: #6DFFFF;
}
#chemicalTracker.index .following .logo {
    float: left;
    width: 35px;
    margin-right: 1em;
}
#chemicalTracker.index .following .logo .side {
    width: 35px;
}
#chemicalTracker .masthead .version.label:after {
    background-color: #000000 !important;
}
#chemicalTracker.index .following .version.label {
    margin: 0.25em 0 0 1em;
}

/*--------------
    Masthead
---------------*/

#chemicalTracker.index .masthead.segment.zoomed h1 {
    text-shadow: 0 0 4px rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
}
#chemicalTracker.index .masthead.zoomed:after {
    opacity: 0;
}
#chemicalTracker.index .masthead.zoomed {
    background-color: #25282A;
}

#chemicalTracker.index .masthead {
    position: relative;
    text-align: center;
    padding: 0;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 0;
    background-color: #000;
    background-position: 50% 50%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#chemicalTracker.index .masthead:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background-size: cover;

    /*opacity: 0.45;*/
    opacity: 0.35;
}

#chemicalTracker.index .masthead.bg1:after {
    background-color: grey;
}

#chemicalTracker.index .masthead,
#chemicalTracker.index .masthead:after {
    -ms-transition:
            background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
            opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
;
    -moz-transition:
            background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
            opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
;
    -webkit-transition:
            background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
            opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
;
    transition:
            background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s,
            opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
;
}

#chemicalTracker.welcome .masthead .container {
    height: 100vh;
}

#chemicalTracker.storage .masthead .container,
#chemicalTracker.chemical .masthead .container {
    height: 30vh;
    margin-bottom: 30px;
    padding-top: 100px;
    padding-bottom: 80px;
}

#chemicalTracker.storage .bottom-padding,
#chemicalTracker.chemical .bottom-padding {
    margin-bottom: 40px;
}

#chemicalTracker.index .masthead .container {
    margin-left: auto !important;
    margin-right: auto !important;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#chemicalTracker .masthead .container {
    padding: 15rem 0;
}

#chemicalTracker.index .following.bar .menu .item {
    display: block;
}
#chemicalTracker.index.pushed .masthead,
#chemicalTracker.index.pushed .following.bar {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#chemicalTracker.index > .pusher > .footer {
    padding-left: 0;
}

#chemicalTracker.index .light.following.bar {
    padding: 1em 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);
}

#chemicalTracker.index .masthead.segment .typed-cursor {
    position: relative;
    top: -0.05em;
    left: -0.25em;
    visibility: hidden;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    -webkit-transition: opacity 0.7s ease;
    -moz-transition: opacity 0.7s ease;
    transition: opacity 0.7s ease;
}
#chemicalTracker.index .masthead.segment .typed-cursor.stop {
    opacity: 0;
    -moz-animation-duration: 0s;
    -webkit-animation-duration: 0s;
    animation-duration: 0s;
}
@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#chemicalTracker.index .vertical.segment {
    box-shadow: none;
}

#chemicalTracker.index .masthead.segment h1 {
    font-size: 3em;
    color: rgba(255, 255, 255, 1);
    line-height: 1.2;
    margin: 0 0 0;
    padding-bottom: 0;
    -moz-perspective: 500px;
    -webkit-perspective: 500px;
    perspective: 500px;

    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#chemicalTracker.index .masthead.segment h1 .tagline {
    font-size: 0.75em;
}
#chemicalTracker.index .masthead.segment h1 > .library {
    display: block;
    font-size: 1.75em;
    font-weight: bold;
}
#chemicalTracker.index .masthead.segment h1 b {
    display: inline-block;
    font-weight: 500;
}
#chemicalTracker.index .masthead.segment h1 .text {
    display: inline-block;
    font-weight: 300;
    margin-left: -0.4em;
}
#chemicalTracker.index .masthead h2 {
    font-weight: normal;
    margin: 0 0 16px 0;
    font-size: 1.75em;
    border-bottom: none;
    line-height: 1;
}
#chemicalTracker.index .masthead p {
    font-size: 1.5em;
    margin: 1em 0 1.5em;
    padding: 0;
}
#chemicalTracker.index .ui.header {
    font-weight: normal;
}

#chemicalTracker.index .introduction {
    position: relative;
    clear: both;
    display: block;
    text-align: center;
}
#chemicalTracker.index .introduction .buttons {
    margin-top: 3em;
}

/*
 * Misc
 */

.topPadding {
    padding-top: 20px;
}

.noBullets ul {
    list-style: none;
    padding-left: 0;
}

.chemical-bg {
    background-image: url(https://s3-us-west-2.amazonaws.com/chemical-tracker/bg.jpg);
}

.semi-transparent {
    background-color: rgba(0, 0, 0, 0.34);

}

/*
 *Fire Diamond
 *
 * Based on this post: http://www.1stwebdesigner.com/css3-diamond-grids-create/
 */

.diamond-grid {
    padding-top: 20px;
}

ul.diamond-grid li {
    list-style: none;
    float: left;
}

ul.diamond-grid li div.text {
}

a.diamond .text {
    font-size: 13px;
    font-weight: bold;
    color: #000;
    vertical-align: middle;
    text-align: center;
    margin-top: 12px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.diamond {
    cursor: pointer;
    height: 50px;
    width: 50px;
    color: #fff;
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    border: 3px solid #000;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: color .35s linear;
    -moz-transition: color .35s linear;
    -o-transition: color .35s linear;
    transition: color .35s linear;
}

.diamond-grid > li:nth-child(1) {
    margin-top: -30px;
    margin-left: 10px;
}

.diamond-grid > li:nth-child(2) {
    margin-left: -83px;
    margin-top: 3px;
}

.diamond-grid > li:nth-child(3) {
    margin-left: -17px;
    margin-top: 3px;
}

.diamond-grid > li:nth-child(4) {
    margin-left: -83px;
    margin-top: 36px;
}

.diamond.red {
    background: #FF6666;
}

.diamond.blue {
    background: #6691FF;
}

.diamond.yellow {
    background: #FCFF66;
}

.diamond.white {
    background: #FFF;
}

/*
 * Scrollable List
 */
.ui.list.scrollable {
    overflow-y:auto;
    white-space:nowrap;
    max-height: 300px;
}

.fixedLoader {
    position: fixed!important;
    z-index: 9999!important;
}

/*
 * Diff Modal
 */
.ui.small.modal.compareResult .content {
    max-height: 450px;
    overflow: scroll;
}

#compare-added {
    color: #005700;
}

#compare-removed {
    color: #9e0000;
}