<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body id="chemicalTracker" class="index popup storage">
<div class="ui container">
    <div class="full height">
        <div class="ui dimmer fixedLoader">
            <div class="ui text loader">Uploading Image</div>
        </div>
    </div>
</div>
<div th:replace="fragments/menu :: menu"></div>
<div th:replace="fragments/sidebar :: sidebar"></div>
<div th:replace="fragments/modal :: confirm"></div>
<div class="ui small modal">
    <div class="header">
        Add new location
    </div>
    <div th:replace="fragments/form :: storage"></div>
</div>

<div class="pusher">
    <div class="full height">
        <div class="masthead segment bg1">
            <div class="ui container">
                <div class="introduction">
                    <h1 class="ui inverted header">
                        <span class="library">Locations</span>
                        <span class="tagline">List of all your locations</span>
                    </h1>
                    <div class="ui hidden divider"></div>
                </div>
            </div>
        </div>
        <div class="ui container">
            <div id="formSubmissionMsg" class="ui hidden positive message bottom-padding">
                <i class="close icon"></i>
                <div class="header"></div>
            </div>
        </div>

        <div class="ui container bottom-padding">
            <div class="ui breadcrumb">
                <div class="active section">Home</div>
            </div>
            <div class="ui icon green button addModal right floated" title="Add Location">
                <i class="white add icon"></i>
            </div>
        </div>

        <div class="ui container bottom-padding">
            <div class="ui four column stackable centered grid" id="storageCards">
                <div th:if="${#lists.isEmpty(locations)}" class="ui center aligned grid container">
                    <div class="column">
                        <h2 class="ui header">
                            You have no locations!
                        </h2>
                        <h2 class="storage-message">Click the
                            <div class="ui icon green button addModal center" title="Add Location">
                                <i class="white icon"></i>
                            </div>
                            above to add a new location
                        </h2>
                    </div>
                </div>

                <div th:each="location : ${locations}" class="column">
                    <div class="ui link centered card location">
                        <div class="blurring dimmable image" th:onclick="'window.location+=\'/'+${location.name}+'\''">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">View Details</div>
                                    </div>
                                </div>
                            </div>
                            <img th:src="${location.imageURL}" />
                        </div>
                        <div class="content">
                            <div class="header" th:text="${location.name}"></div>
                            <div class="description" th:text="${location.description}"></div>
                        </div>
                        <div class="extra content">
                            <a class="right floated created" th:href="'/report/generate/'+${location.name}">
                                Generate Report
                            </a>

                            <div class="ui dropdown">
                                <div class="text">Options</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="item remove" th:data="${location.ID}">Remove</div>
                                    <div class="item" id="editStorage">Edit</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div type="hidden" id="add-url" value="/api/add/location/"></div>
<div type="hidden" id="remove-url" value="/api/remove/location/"></div>
<div type="hidden" id="parentID" value="home"></div>
<div th:replace="fragments/card :: storageCard"></div>
</body>
<script th:replace="fragments/footer :: scripts"></script>
</html>
