<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>

<body id="chemicalTracker" class="index pusher welcome">
<div class="full height">
    <div class="masthead segment chemical-bg">
        <div class="ui container">
            <div class="introduction semi-transparent">
                <h1 class="ui inverted header">
                    <span class="library">Chemical Tracker</span>
                    <span class="tagline">An online interface for managing your chemical containers</span>
                </h1>
                <div class="ui hidden divider"></div>
                <a href="/home" class="ui huge inverted basic button"> Login</a>
                <a href="/signup" class="ui huge inverted basic button">Sign Up</a>
            </div>
        </div>
    </div>
</div>
<div type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></div>
</body>

<script th:replace="fragments/footer :: scripts"></script>
</html>